.button {
    padding: 10px 15px;
    background: var(--tg-theme-button-color);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #7000FF;
    border: 1px solid #000000;
    border-radius: 12px;
    min-width: 200px;
}
